.duty-view
{
	.vc-scroll{
	  height:200px;
	  position: absolute;
	  top: 323px;
	  left: 0;
	  right: 0;
	}
	.box-vc{
	  //height:800px;
	  height:100%;
	}

	.ot-scroll{
	  height:730px;
	  position: absolute;
	  top: 86px;
	  left: 0;
	  right: 0;
	}
	.box-ot{
	  //height:1450px;
	  height:100%;
	}
	

}
